* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ccc;
  color: #000;
}

footer {
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

section {
  width: 50%;
}

#box1 {
  float: left;
  padding-right: 10px;
}

#box2 {
  float: right;
  padding-left: 10px;
}

section footer {
  color: #fff;
  background-color: #854242;
}

#mainfooter {
  background-color: #999999;
  margin-top: 10px;
}

#container {
  padding: 10px 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  max-width: 960px;
  width: 100%;
}

#mainmenu {
  width: 100%;
  padding: 5px 0px;
  overflow: auto;
}

#mainmenu ul {
  display: block;
  text-transform: uppercase;
  list-style: none;
}

#mainmenu li {
  float: left;
  display: inline-block;
}

#mainmenu a {
  display: block;
  color: #666;
  padding: 5px 20px 5px 0;
  text-decoration: none;
}

#mainmenu a:hover {
  text-decoration: underline;
}

#mainmenu select {
  display: none;
}

#mainheader img {
  width: 100%;
}

#resize-window {
    padding: 40px;
    color: #0b8aa6;
    background-color: rgba(20, 20, 20, 0.85);
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 10px;
}

.header-title {
  text-align: center;
}

.header-title,
.title {
  color: #854242;
}

.clearfix {
  clear: both;
}

@media all and (min-width: 800px) {
  header {
    position: relative;
    overflow: auto;
  }

  #mainmenu {
    border-bottom: 3px solid #854242;
  }

  #search {
    position: absolute;
    top: 95px;
    right: 0px;
  }
}

@media all and (max-width: 800px) {
  #search {
    width: 100%;
    padding: 10px;
    background-color: #854242;
  }

  #search input {
    display: inline;
  }

  #search input[type=text] {
    width: 60%;
  }

  #search input[type=submit] {
    width: 38%;
    float: right;
  }
}

@media all and (max-width: 500px) {

  #search {
    position: fixed;
    top: 0px;
    left: 0px;
  }

  section {
    width: 100%;
    float: none !important;
    padding: 0px !important;
  }

  header .header-title:first-child {
    margin-top: 50px;
  }

  #mainmenu ul {
    overflow: auto;
    border-right: 10px solid #854242;
  }

  #mainmenu li {
    width: 100%;
  }

  #mainmenu a {
    padding: 10px;
  }

  #mainmenu a:hover,
  #mainmenu a:active {
    color: #fff;
    background-color: #854242;
  }

}
